@font-face {
  font-family: 'iconfont';  /* project id 1997144 */
  src: url('https://at.alicdn.com/t/font_1997144_5jnzcx34eze.eot');
  src: url('https://at.alicdn.com/t/font_1997144_5jnzcx34eze.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1997144_5jnzcx34eze.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1997144_5jnzcx34eze.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1997144_5jnzcx34eze.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1997144_5jnzcx34eze.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconziyuan1:before {
  content: "\e621";
}

.iconziyuan2:before {
  content: "\e63b";
}

.iconpinglun:before {
  content: "\e609";
}

.iconweixin:before {
  content: "\e6ea";
}

.iconfenlei:before {
  content: "\e61b";
}

.iconfenxiang:before {
  content: "\e72a";
}

.iconweibiaoti--:before {
  content: "\e617";
}

.iconshoucang:before {
  content: "\e639";
}

.iconstack:before {
  content: "\e612";
}

.iconzhifubao:before {
  content: "\e627";
}

.iconxuanzhong:before {
  content: "\e60d";
}

.icongeren:before {
  content: "\e6fd";
}

.iconjurassic_danju:before {
  content: "\e6ae";
}

.iconshanchu:before {
  content: "\e6b8";
}

.iconmima:before {
  content: "\e615";
}

.iconlaba3:before {
  content: "\e600";
}

.iconweixinzhifu:before {
  content: "\e601";
}

.iconkefuzixunbeifen:before {
  content: "\e628";
}

.iconjiantou_liebiaozhankai:before {
  content: "\e6e7";
}

.iconyoujiantou:before {
  content: "\e667";
}

.iconsousuo:before {
  content: "\e60f";
}

.iconziyuan:before {
  content: "\e603";
}

